@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$inputcolor: rgba(0,0,0,0.5);
$inputhovercolor: rgba(0,0,0,1);
$backclr: #edece9;
$black: #221E20;
$dark-grey: #464544;
$grey: #D6D2CE;
$light-grey: #EDECE9;
$blue: #0835C4;
$green: #DDE78B;
$orange: #FAB487;
/* https://codepen.io/sdudnyk/pen/bWbqMb brackets */
*,
*::after,
*::before {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.bracket {
    display: flex;
}

.round {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


.round:first-child .match::before {
    display: none;
}

.round:first-child .match__content::before {
    display: none;
}

.round:last-child .match::after {
    display: none;
}
.round:last-child .match::before {
    display: none;
}
.match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    padding: 6px 0;
    flex-grow: 1;
    position: relative;
    vertical-align: middle;
    &::before {
        content: "t";
        display: block;
        min-height: 20px;
        border-left: 2px solid purple;
        position: absolute;
        left: -10px;
        top: 60%;
        margin-top: -15px;
        margin-left: -2px;
    }
    &:nth-child(2n+0) {
        padding-top: 0;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.match:nth-child(odd)::after {
    content: "";
    display: block;
    border: 2px solid transparent;
    border-top-color: purple;
    border-right-color: purple;
    height: 50%;
    position: absolute;
    right: -10px;
    width: 10px;
    top: 50%;
}

.match:nth-child(even)::after {
    content: "";
    display: block;
    border: 2px solid transparent;
    border-bottom-color: purple;
    border-right-color: purple;
    height: 50%;
    position: absolute;
    right: -10px;
    width: 10px;
    bottom: 38%;
}

.match__content::before {
    content: "";
    display: block;
    width: 10px;
    border-bottom: 2px solid purple;
    margin-left: -2px;
    position: absolute;
    top: 50%;
    left: -10px;
}
.matchplayer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    .player {
        flex: 1 1 auto;
        margin: 0;
        border: 2px solid black;
        text-align: left;
        position: relative;
    }
}

.page {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    .inputBox {
        flex: 1 1 auto;
        padding: 0.2rem;
        input {
            position: relative;
            flex: 1 1 auto;
            background: transparent;
            text-align: left;
            vertical-align: middle;
            outline: none;
            width: 100%;
            border: none;
            color: $inputcolor;
            padding-bottom: 10px;
            font-size: 1rem;
            letter-spacing: 1px;
            transition: all 0.3s ease;
            border-bottom: 2px solid $inputcolor;
            &:focus {
                color: $inputhovercolor;
                border-bottom: 2px solid $inputhovercolor;
            }
        }
    }
    .pagebtn {
        flex: 1 1 auto;
        position: relative;
        width: 100%;
        font-size: 2rem;
        button {
            padding: 0.2rem 0.5rem;
            background: #dddddd;
            outline: none;
            border-radius: 50%;
            border: none;
            transition: all 0.2s ease;
            &:hover {
                background: #888;
            }
        }
        .past {
            float: left;
            left: 0;
            position: absolute;
        }
        .next {
            float: right;
            color: red;
            right: 0;
            position: absolute;
        }
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
	-webkit-text-fill-color: White;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}





